# dependencies
node_modules/
.pnp
.pnp.js

# environment variables
.env
.env.local
.env.development
.env.production
.env.test

# build output
dist/
build/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cursor
.cursor


